<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-grid no-padding>

    <ion-grid padding>

      <ion-row padding-horizontal padding-top>
        <ion-col>
          <div class="fire-input">
            <ion-icon name="person"></ion-icon>
            <ion-input type="text" formControlName="username" [placeholder]="'FORMS.USERNAME' | translate"></ion-input>
          </div>
          <div [@slideVertical] *ngIf="showErrors && formErrors.username.length" class="fire-input-error">
            {{ formErrors.username[0] | translate}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row padding-horizontal>
        <ion-col>
          <div class="fire-input">
            <ion-icon name="lock"></ion-icon>
            <ion-input type="password" formControlName="password" [placeholder]="'FORMS.PASSWORD' | translate"></ion-input>
          </div>
          <div [@slideVertical] *ngIf="showErrors && formErrors.password.length" class="fire-input-error">
            {{ formErrors.password[0] | translate}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <button ion-button color="link" clear style="text-transform: none">{{ 'AUTH.FORGOT_PASSWORD' | translate }} </button>
        </ion-col>
      </ion-row>

      <ion-row class="fill-space"></ion-row>
    </ion-grid>


    <ion-row>
      <button ion-button type="submit" full color="link">{{ 'AUTH.LOGIN' | translate }} </button>
    </ion-row>

  </ion-grid>

</form>
