<ion-header>
  <div class="login-header header-bg">
    <div class="login-logo">
      <img src="assets/img/wifi_logo.svg">
      <span>WiFiCall</span>
    </div>
    <ion-grid class="login-tabs">
      <ion-row>
        <ion-col text-center>
          <div class="login-tab" [class.active]="selectedTab === 'Login'" (tap)="selectedTab = 'Login'">Existing User
          </div>
        </ion-col>
        <ion-col text-center>
          <div class="login-tab" [class.active]="selectedTab === 'Register'" (tap)="selectedTab = 'Register'">New User
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content no-bounce>

  <login [@slideLogin] *ngIf="selectedTab === 'Login'"></login>

  <register [@slideRegister] *ngIf="selectedTab === 'Register'"></register>

</ion-content>
