outgoing-call {

  .caller-id {
    height: 40vh;
  }

  .action-buttons {
    flex: 1;
  }

  .caller-id, .action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .display-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    width: 150px;
    height: 150px;
  }

  .phone-number {
    font-size: 1.5em;
  }

  .fire-input {
    margin-top: 5px;
  }

  ion-content {
    .col {
      margin: 0.5em;
    }
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 13px;
    font-weight: bold;
    color: color($colors, dark);
  }

  settings-form, form {
    display: flex;
    flex: 1;
  }
}
