mark-popup {
  display: block;
  padding: 6px 3px;
  background-color: color($colors, brown);

  .item {
    position: relative;
    font-weight: normal;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }
}

