page-register {

  ion-grid {
    height: 100%;
  }
  .btn-row button {
    width: 100%;
  }
  .checkbox-item {
    display: flex;
    align-items: center;
    span {
      margin-left: 1em;
    }
  }

  small {
    color: color($colors, danger);
  }
}
