tabs {

  .tabbar {
    justify-content: center;
    background: $fire-nav-bg !important;
  }

  .tab-button {
    max-width: 200px;
  }

  .tab-button, .tab-button-icon {
    color: rgba(253, 178, 161, 0.7) !important;
  }

  .tab-button[aria-selected="true"], .tab-button[aria-selected="true"] .tab-button-icon {
      color: color($colors, light) !important;
  }

}
