sip-status {
  .sip-status {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #0064B6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
