<ion-header>
  <header></header>
  <notif-nav [notifications]="state.list"
             [showMenu]="state.showFilterMenu"
             [order]="state.order"
             (select)="selectNotif = $event"></notif-nav>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getNotificationsList()">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <notif-list [notifications]="state.list"
              [showMenu]="state.showFilterMenu"
              [order]="state.order"
              [filter]="state.filter"
              [select]="selectNotif"></notif-list>

</ion-content>
