<ion-header>
  <header [state]="store | async"></header>
</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="term = $event.target.value"></ion-searchbar>

  <ion-list>

    <button ion-item *ngFor="let contact of list | filterBy: {displayName: term}">

      <ion-avatar item-start>
        <img *ngIf="contact?.photos" [src]="contact?.photos"/>
      </ion-avatar>

      <div>
        <p> {{ contact?.displayName || contact?.phoneNumbers[0].value }} </p>
      </div>

    </button>

  </ion-list>
</ion-content>
