search-input {
  max-width: 180px;
  input {
    width: 100%;
    background-color: transparent;
    color: color($colors, light);
    border: 0;
    outline: 0;
    &::-webkit-input-placeholder {
      color: color($colors, light);
      font-style: italic;
    }
  }
}
