<ion-grid no-padding>

  <ion-row padding text-center class="dialog-title">
    <ion-col text-center>
      <h3 *ngIf="users.length === 1;else manyUsers">Message to {{ users[0]?.name }}</h3>
      <ng-template #manyUsers>
        <h3>Message to {{ users.length }} users</h3>
      </ng-template>
    </ion-col>
  </ion-row>

  <ion-row padding text-center class="dialog-content">
    <ion-col text-center>
      <textarea placeholder="Write your message here." [(ngModel)]="message"></textarea>
    </ion-col>
  </ion-row>

  <ion-row class="dialog-actions">
    <button ion-button full color="link" (click)="viewCtrl.dismiss(message)">Send Message</button>
  </ion-row>
</ion-grid>
