filter-menu {
  display: block;
  background-color: color($colors, brown);

  search-input {
    width: 100%;
    input {
      padding: 6px 16px;
      width: 100%;
      height: 40px;
      color: color($colors, dark);;
      background-color: color($colors, light);
    }
  }

  .search-item{
    margin-top: 10px;
  }
  .item {
    position: relative;
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }
}
