<div *ngIf="state" class="calling-wrapper">

  <div class="caller-id">

    <div class="display-pic">
      <ion-icon name="person"></ion-icon>
    </div>

    <h3 class="phone-number">
      {{ state?.peer?.phoneNumber }}
    </h3>

    <h3 class="status">
      {{ state?.status }}
    </h3>

    <div *ngIf="state.connected" class="timer">
      {{ timerTicks$ | async | timer }}
    </div>

  </div>

  <div class="action-buttons">

    <ion-grid>

      <ion-row class="fill-space"></ion-row>
      <!-- FIRST ROW OF BUTTONS -->
      <ion-row>

        <ion-col>
          <button color="gray" ion-button round [class.active-speaker]="speaker" (tap)="speaker = !speaker">
            <ion-icon name="volume-up"></ion-icon>
          </button>
        </ion-col>

        <ion-col>

          <button color="gray" ion-button round (tap)="mic = !mic">
            <ion-icon *ngIf="mic; else mute" name="mic"></ion-icon>
            <ng-template #mute>
              <ion-icon name="mic-off"></ion-icon>
            </ng-template>
          </button>

        </ion-col>
      </ion-row>

      <ion-row class="fill-space"></ion-row>
      <!-- HANGUP BUTTON -->

      <ion-row>
        <ion-col text-center>

          <button color="danger" ion-button round (click)="hangUp()">
            <ion-icon name="close"></ion-icon>
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>
