user-nav {

  .user-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    ion-buttons {
      order: 0;
      .button-inner {
        text-transform: capitalize;
        font-size: 18px;
      }
      ion-icon {
        margin-right: 10px;
      }
    }

    .toggle-search {
      position: relative;
      min-width: 150px;
      height: 20px;
      display: flex;
      align-items: center;
      ion-buttons, search-input {
        position: absolute;
      }
    }

    .user-last-access {
      margin: 0 15px;
      min-width: 60px;
      font-weight: 500;
      color: white;
      text-transform: capitalize;
    }

  }
}
