<ion-navbar padding-horizontal>

  <div class="user-navbar">
    <ion-buttons>
      <button ion-button icon-only (click)="options.search = !options.search">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <div class="toggle-search">

      <!-- Default User Navbar -->

      <ion-buttons [@toggleIn] *ngIf="!options.search" class="user-name">
        <button ion-button (click)="options.orderReverse = !options.orderReverse">
          <ion-icon [name]="options.orderReverse ? 'arrow-dropup': 'arrow-dropdown'"></ion-icon>
          Name
        </button>
      </ion-buttons>

      <!-- Search User Navbar -->

      <search-input [@toggleIn] *ngIf="options.search" [(text)]="options.key"
                    placeholder="Search for user"></search-input>
    </div>

    <div class="fill-space"></div>

    <div class="user-last-access">
      Last Access
    </div>

    <ion-checkbox class="user-check" [(ngModel)]="options.checkAll"></ion-checkbox>
  </div>

</ion-navbar>

