page-call-type {
  .call-opt-box {
    border-style: solid;
    border-width: thin;
    border-color: #797979;
    font-size: 30px;
  }

  .call-opt-header {
    background-color: #797979;
    color: white;
    font-size: 20px;
    padding: 10px;
  }

  .call-pricing {
    padding: 10px;
  }

  .units {
    font-size: 12px;
  }

}
