page-call {
  ion-icon {
    font-size: 25px;
    color: #4A4A4A;
  }

  .call_button {
    width: 100%;
    background-color: #62AC11;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    bottom: 0;
  }

  .phone-number-call {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    font-size: 200%;
  }
  .phone-number-wrapper {
    height: 60px;
  }
}
