page-call {
    .call_button {
        width: 100%;
        background-color: #62AC11;
        color: white;
        text-shadow: 2px 2px black;
    }

    ion-grid {
        width: 100%;
        max-width: 100%;
    }
}
