<ion-header>
  <div class="login-header header-bg">

    <!-- LOGO -->

    <div class="login-logo">
      <!-- TODO: Use logo with title svg -->
      <img src="assets/img/wifi_logo.svg">
      <span class="logo-title">WiFiCall</span>
    </div>

    <!-- LOGIN/REGISTER TABS -->

    <div class="login-tabs">
      <div class="login-tab" [class.active]="selectedTab === 'Login'" (tap)="selectedTab = 'Login'">
        <span>{{ 'ACCESS.EXISTING_USER' | translate }}</span>
      </div>
      <div class="login-tab" [class.active]="selectedTab === 'Register'" (tap)="selectedTab = 'Register'">
        <span>{{ 'ACCESS.NEW_USER' | translate }}</span>
      </div>
    </div>

  </div>
</ion-header>

<ion-content no-bounce>

  <login [@slideLogin] *ngIf="selectedTab === 'Login'" (submitted)="onLogin($event)"></login>

  <register [@slideRegister] *ngIf="selectedTab === 'Register'" (submitted)="onRegister($event)"></register>

</ion-content>
