// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #d95e2a,
  success: #66BB6A,
  danger: #d32f2f,
  pending: #FDA900,
  brown: #421C00,
  light: #f4f4f4,
  dark: #222,
  gray: #4A4A4A,
  lightgray: #D8D8D8,
  medgray: #797979,
  link: #0064B6,
  form: #E0E0E0
);

// REFRESHER
$refresher-border-color: #ddd;
$refresher-height: 60px;
$refresher-icon-color: color($colors, gray);
$refresher-icon-font-size: 30px;
$refresher-text-color: color($colors, gray);
$refresher-text-font-size: 16px;

// DIALOGS

$modal-inset-min-width: 250px;
$modal-inset-width: 275px;
$modal-inset-min-height-small: 200px;
$modal-inset-height-small: 250px;


// LIST ITEM BACKGROUND

$list-item-bg: linear-gradient(to bottom, #f2f5f6 0%, #f4f1ef 37%, #e8e0dc 100%);

// FIRE BAR BACKGROUND
$fire-nav-bg: linear-gradient(180deg, #E55200 0%, #C01600 100%);
$fire-nav-tabs-bg: linear-gradient(180deg, #C01600 0%, #E55200 100%);

$admin-nav-bg: linear-gradient(180deg, #700015 0%, #431C00 100%);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$tabs-ios-tab-icon-color-active: color($colors, light);
$tabs-ios-tab-text-color-active: color($colors, light);
$tabs-ios-tab-text-color: color($colors, light);
$toolbar-ios-text-color: color($colors, light);
$toolbar-ios-title-text-color: color($colors, light);
$toolbar-ios-button-color: lighten(color($colors, light), 20%);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Toolbar
$toolbar-md-background: color($colors, primary);
$toolbar-md-active-color: #fff;

// Tabs
$tabs-background: color($colors, primary);
$tabs-md-tab-color-active: #fff;
$tabs-md-tab-color-inactive: #fdb2a1;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

