// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

.header-bg {
  background: -moz-linear-gradient(90deg, rgba(201, 39, 34, 1) 0%, rgba(242, 86, 53, 1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 86, 53, 1)), color-stop(100%, rgba(201, 39, 34, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(201, 39, 34, 1) 0%, rgba(242, 86, 53, 1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(201, 39, 34, 1) 0%, rgba(242, 86, 53, 1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(201, 39, 34, 1) 0%, rgba(242, 86, 53, 1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(201, 39, 34, 1) 0%, rgba(242, 86, 53, 1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F25635', endColorstr='#C92722', GradientType=0); /* ie6-9 */
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #d95e2a,
  secondary: #32db64,
  danger: #D0021B,
  light: #f4f4f4,
  dark: #222,
  gray: #4A4A4A,
  lightgray: #D8D8D8,
  link: #0064B6,
  form: #E0E0E0
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Toolbar
$toolbar-md-background: color($colors, primary);
$toolbar-md-active-color: #fff;

// Tabs
$tabs-background: color($colors, primary);
$tabs-md-tab-color-active: #fff;
$tabs-md-tab-color-inactive: #fdb2a1;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
