@import '../../theme/variables.scss';

page-history, page-contacts {

  ion-avatar {
    color: color($colors, dark);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    //background-color: color($colors, lightgray);
  }

  button {
  }

  div {
    color: color($colors, dark);
    display: flex;
    flex-direction: column;

    small {
      display: flex;
      align-items: center;
      img {
        margin: 0 5px;
      }
    }
  }


}
