<ion-header>
  <header [state]="store | async"></header>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>

  <ion-list>
    <!--<ion-list-header>History ({{history.length}})</ion-list-header>-->

    <button ion-item *ngFor="let log of history | orderBy: 'date': true">

      <ion-avatar item-start>
        <img *ngIf="log.image" [src]="log.image"/>
      </ion-avatar>

      <div>
        <p> {{ log.displayName }} </p>

        <small>
          <span>1</span>
          <img src="assets/img/exitcall_icn.svg">
          <span>{{ log.date | timeAgo }}</span>
        </small>
      </div>

      <ion-icon item-end name="call"></ion-icon>
    </button>

  </ion-list>
</ion-content>
