@import '../../theme/variables.scss';

page-history, page-contacts {

  ion-avatar {
    border-radius: 50%;
    background-color: color($colors, lightgray);
    overflow: hidden;
  }

  button {
  }

  div {
    color: color($colors, dark);
    display: flex;
    flex-direction: column;

    small {
      display: flex;
      align-items: center;
      img {
        margin: 0 5px;
      }
    }
  }


}
