page-users {

  .user-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    ion-buttons {
      order: 0;
      .button-inner {
        text-transform: capitalize;
        font-size: 18px;
      }
      ion-icon {
        margin-right: 10px;
      }
    }

    .user-name {
    }

    .user-last-access {
      margin: 0 15px;
      min-width: 60px;
      font-weight: 500;
      color: white;
      text-transform: capitalize;
      font-size: 18px;
    }

  }
}
