menu-dialog {
  padding: 14px;
  background-color: color($colors, light);

  button {
    height: 44px;
    width: 100%;
    font-weight: bold;
  }

  .menu-item {
    margin-bottom: 10px;
    width: 100%;
  }

  .admin-button {
    color: color($colors, light);
    background-color: color($colors, brown);
  }

  .home-button {
    color: color($colors, light);
    background-color: color($colors, primary);
  }
}

.main-menu {
  .modal-wrapper {
    top: calc(50% - (344px/2));
    height: 344px;
  }
  &.guest {
    .modal-wrapper {
      top: calc(50% - (180px/2));
      height: 180px;
    }
  }
}
