<div [class]="'voucher voucher-' + voucher.state">
  <div class="voucher-inner">
    <div class="voucher-detail">
      <div class="voucher-state">
        {{ voucher.state }}
      </div>
      <div class="voucher-code">
        Code: {{ voucher.code }}
      </div>
      <div class="voucher-activation">
        Activation date: {{ voucher.activated | date: 'yyyy/MM/dd' }}
      </div>
    </div>
    <div class="voucher-name">
      <div class="voucher-credit">
        <span class="voucher-remaining">R{{voucher.creditRemaining}}</span>
        <span class="voucher-total">/{{voucher.creditTotal}}</span>
      </div>
      <div class="voucher-status">
        {{ voucher.state }}
      </div>
    </div>
  </div>
  <div class="voucher-more">
    <ion-icon name="document" navPush="VoucherDetailsPage" [navParams]="{ voucher: voucher }"></ion-icon>
  </div>
</div>

