<ion-grid no-padding>

  <ion-grid padding>

    <ion-row padding-horizontal padding-top>
      <ion-col text-center>
        <div class="fire-input">
          <ion-icon name="person"></ion-icon>
          <ion-input floating #user type="text" placeholder="Username"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <ion-row padding-horizontal>
      <ion-col text-center>
        <div class="fire-input">
          <ion-icon name="lock"></ion-icon>
          <ion-input #pass type="password" placeholder="Password"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="link" clear style="text-transform: none">Forgot your password?</button>
      </ion-col>
    </ion-row>


    <ion-row class="fill-space"></ion-row>
  </ion-grid>


  <ion-row>
    <button ion-button full color="link" (click)="appService.login(user.value, pass.value)">LOGIN</button>
  </ion-row>

</ion-grid>
