page-license {
  ul {
    list-style: none;
    padding-left: 10px;
  }
  p, li {
    font-size: 14px;
    line-height: 20px;
  }
  li {
    margin-bottom: 7px;
  }
  h4 {
    margin-top: 2em;
  }
  h3 {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
  }
}
